<a href="https://colab.research.google.com/github/gui98araujo/Amb_Git/blob/main/Regressao_nao_linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

In [44]:
features = pd.read_excel("/content/temps.xlsx")
features.head()

   year  month  day  week  temp_2  temp_1  average  actual
0  2016      1    1   Fri      45      45     45.6      45
1  2016      1    2   Sat      44      45     45.7      44
2  2016      1    3   Sun      45      44     45.8      41
3  2016      1    4   Mon      44      41     45.9      40
4  2016      1    5  Tues      41      40     46.0      44

In [45]:
features.describe()

,year,month,day,temp_2,temp_1,average,actual
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000

In [46]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     348 non-null    int64
 1   month    348 non-null    int64
 2   day      348 non-null    int64
 3   week     348 non-null    object
 4   temp_2   348 non-null    int64
 5   temp_1   348 non-null    int64
 6   average  348 non-null    float64
 7   actual   348 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 21.9+ KB

In [47]:
features = pd.get_dummies(features)
features.head()

,year,month,day,temp_2,temp_1,average,actual,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2016,1,1,45,45,45.6,45,1,0,0,0,0,0,0
1,2016,1,2,44,45,45.7,44,0,0,1,0,0,0,0
2,2016,1,3,45,44,45.8,41,0,0,0,1,0,0,0
3,2016,1,4,44,41,45.9,40,0,1,0,0,0,0,0
4,2016,1,5,41,40,46.0,44,0,0,0,0,0,1,0

In [48]:
labels = np.array(features['actual'])

features =  features.drop("actual", axis = 1)

In [49]:
features_list = list(features.columns)

In [50]:
features = np.array(features)

In [51]:
from sklearn.model_selection import train_test_split

train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.25, random_state=42)

In [22]:
#Vamos tirar o treino pela média para podermos ter um grau comparativo, para saber se o modelo está melhor ou pior do que a média
baseline_preds = test_features[: , features_list.index("average")]

baseline_error = abs( baseline_preds - test_labels )
#calculando o erro médio diário considerando a variável target igual a média
print(round(np.mean(baseline_error),2))

5.06

In [23]:
from sklearn.datasets import make_moons
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor

#1. Random Forest Regressor#

In [38]:
#Treinando base de treino
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [39]:
#Treinar base de teste
predction_rf= rf.predict(test_features)

error_rf = abs(predction_rf - test_labels)

r_square = rf.score(features, labels)

print('error', error_rf)
print('R^2', r_square)
print('MAE', metrics.mean_absolute_error(test_labels, predction_rf))
print('MSE', metrics.mean_squared_error(test_labels, predction_rf))

error [2.9220e+00 4.4600e-01 1.6000e-02 5.4130e+00 3.5850e+00 1.1011e+01
 5.8660e+00 4.4620e+00 2.2560e+00 1.9602e+01 2.2690e+00 1.3004e+01
 5.6980e+00 3.4340e+00 2.5270e+00 5.3940e+00 2.9120e+00 8.6300e-01
 4.6450e+00 1.2550e+00 4.6200e-01 2.4480e+00 1.1900e+00 1.5410e+00
 1.2890e+00 4.5610e+00 4.3000e-02 5.0570e+00 4.3400e+00 7.1000e-01
 1.0992e+01 4.6000e+00 7.8930e+00 1.2890e+00 2.9150e+00 4.7160e+00
 4.4150e+00 3.1010e+00 5.1800e-01 7.4810e+00 8.2890e+00 1.4980e+00
 5.3130e+00 8.4970e+00 2.6790e+00 1.1123e+01 5.2080e+00 3.9970e+00
 3.9480e+00 5.0100e-01 2.2720e+00 2.9750e+00 1.4880e+00 1.1830e+00
 4.2550e+00 3.7010e+00 2.3150e+00 3.0010e+00 8.5500e-01 5.7200e-01
 7.4600e-01 1.8070e+00 7.1390e+00 7.5500e-01 4.3460e+00 9.2720e+00
 4.6910e+00 5.2100e-01 2.6460e+00 4.5270e+00 4.0200e+00 9.4900e-01
 9.4010e+00 3.2200e-01 1.2190e+00 3.6980e+00 4.3170e+00 4.0280e+00
 7.1000e-01 3.1760e+00 3.7950e+00 8.8210e+00 8.6830e+00 6.3770e+00
 1.8780e+00 1.6240e+00 1.8100e+00]
R^2 0.932094797587982
MAE 3.932057471264368
MSE 26.68358100000001

#2. AdaBoost #

In [52]:
ada = AdaBoostRegressor(n_estimators = 100)
ada.fit(train_features, train_labels)

ada_pred =  ada.predict(test_features)

In [53]:
error_ada = abs(ada_pred - test_labels)

r_square = ada.score(features, labels)

print('error', error_ada)
print('R^2', r_square)
print('MAE', metrics.mean_absolute_error(test_labels, ada_pred))
print('MSE', metrics.mean_squared_error(test_labels, ada_pred))

error [ 3.57758621  2.05555556  0.2         2.59375     5.55932203  9.44230769
  5.11111111  4.23880597  3.61538462 19.32484076  0.62       11.94642857
  3.36363636  1.675       3.19178082  7.8         0.63636364  1.92307692
  3.85185185  4.72189349  1.11688312  2.6875      2.28985507  1.05555556
  1.42105263  4.11111111  0.37096774  2.1         5.44827586  0.58695652
  8.82758621  2.44117647  3.84615385  2.35        1.85897436  3.43333333
  3.75        4.42105263  3.02631579  7.1         9.21186441  1.98076923
  2.25954198  7.53333333  3.8028169   9.24786325  3.6875      3.28767123
  1.72727273  0.5         0.07692308  2.          0.76623377  0.23376623
  3.9869281   2.94915254  1.87804878  4.65822785  1.3125      1.4
  1.30769231  2.71428571  8.38461538  1.44117647  5.35483871  7.75757576
  3.17241379  1.41176471  3.72189349  5.2         1.01724138  0.95
  6.98484848  0.61538462  0.57142857  2.37096774  0.71428571  1.52554745
  1.33333333  3.76        3.95        9.37272727  7.97368421  6.63392857
  1.18644068  1.46875     4.9       ]
R^2 0.8796666349189723
MAE 3.632030846320003
MSE 22.976882350991588

#3. GradientBoosting #

In [56]:
gbr = GradientBoostingRegressor(n_estimators = 100)
gbr.fit(train_features, train_labels)

gbr_pred =  gbr.predict(test_features)

In [57]:
error_gbr = abs(gbr_pred - test_labels)

r_square = gbr.score(features, labels)

print('error', error_gbr)
print('R^2', r_square)
print('MAE', metrics.mean_absolute_error(test_labels, gbr_pred))
print('MSE', metrics.mean_squared_error(test_labels, gbr_pred))

error [ 3.13261399  1.58545537  0.03505561  3.11375671  5.75765627  9.15827201
  5.1798746   1.42593604  3.21456064 18.93730815  0.05820454 12.49734837
  6.43678033  1.6306731   3.35680536  6.31314823  2.53372869  0.81834472
  5.04230373  0.71693102  1.34404415  2.79373416  2.33477699  0.6676153
  0.09138603  4.41853262  0.16323151  5.43467461  6.69366336  2.02288664
 10.52128795  5.30011708  6.58357057  2.88789098  4.63939463  3.91255672
  2.45303504  3.73111853  1.43693762  8.22159245 12.41417479  1.51249368
  3.09738907  7.88651794  2.36901878 12.97338904  4.97925593  4.62528297
  3.9849679   0.59354819  1.82745206  1.99104992  4.30216759  1.689762
  3.08479954  3.55006397  2.67904037  3.79829553  2.42294165  1.14323462
  0.93682304  1.80555789  7.61734403  0.38181494  4.78710008  9.40207796
  5.47669019  0.48096874  1.41390598  6.63088381  3.18907612  0.31247179
  9.35447655  0.59488668  1.260649    5.75943592  2.59067156  2.23108588
  2.43236347  2.5681216   5.19975027 10.92799021  8.67055962  6.43413258
  1.90229956  2.40851079  3.03440919]
R^2 0.9175077526534958
MAE 4.084203533915759
MSE 28.555933644868432

# Tree Decision

In [63]:
rf = RandomForestRegressor(max_depth = 4) # Até 3 camadas de nós.
rf.fit(train_features, train_labels)

tree = rf.estimators_[5]

tree

from sklearn.tree import export_graphviz
import pydot
export_graphviz(tree, out_file =  'tree.dot', feature_names = features_list, rounded = 1, precision = 1 )
(graph, ) =  pydot.graph_from_dot_file("tree.dot")
graph.write_png("tree.png")

#  Feature Importance #

In [64]:
# Get numerical feature importances
importances = list(rf.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(features_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: temp_1               Importance: 0.77
Variable: average              Importance: 0.19
Variable: month                Importance: 0.01
Variable: day                  Importance: 0.01
Variable: temp_2               Importance: 0.01
Variable: year                 Importance: 0.0
Variable: week_Fri             Importance: 0.0
Variable: week_Mon             Importance: 0.0
Variable: week_Sat             Importance: 0.0
Variable: week_Sun             Importance: 0.0
Variable: week_Thurs           Importance: 0.0
Variable: week_Tues            Importance: 0.0
Variable: week_Wed             Importance: 0.0

In [65]:
# Get numerical feature importances
importances = list(ada.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(features_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: temp_1               Importance: 0.51
Variable: average              Importance: 0.26
Variable: temp_2               Importance: 0.08
Variable: month                Importance: 0.06
Variable: day                  Importance: 0.04
Variable: week_Mon             Importance: 0.04
Variable: week_Fri             Importance: 0.01
Variable: week_Sun             Importance: 0.01
Variable: year                 Importance: 0.0
Variable: week_Sat             Importance: 0.0
Variable: week_Thurs           Importance: 0.0
Variable: week_Tues            Importance: 0.0
Variable: week_Wed             Importance: 0.0

In [66]:
# Get numerical feature importances
importances = list(gbr.feature_importances_)
# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(features_list, importances)]
# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: temp_1               Importance: 0.63
Variable: average              Importance: 0.3
Variable: day                  Importance: 0.02
Variable: month                Importance: 0.01
Variable: temp_2               Importance: 0.01
Variable: week_Fri             Importance: 0.01
Variable: year                 Importance: 0.0
Variable: week_Mon             Importance: 0.0
Variable: week_Sat             Importance: 0.0
Variable: week_Sun             Importance: 0.0
Variable: week_Thurs           Importance: 0.0
Variable: week_Tues            Importance: 0.0
Variable: week_Wed             Importance: 0.0