<a href="https://colab.research.google.com/github/gui98araujo/Amb_Git/blob/main/Regressao_Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [ ]:
dataset = sns.load_dataset("iris")

In [ ]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [ ]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [ ]:
model = LogisticRegression()
model.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
predict = model.predict(x_test)

In [ ]:
x_test['predction'] = predict

In [ ]:
y_test=pd.DataFrame(y_test)
x_test['real'] =  y_test['species']

In [ ]:
x_test

,sepal_length,sepal_width,petal_length,petal_width,predction,real
118,7.7,2.6,6.9,2.3,virginica,virginica
92,5.8,2.6,4.0,1.2,versicolor,versicolor
9,4.9,3.1,1.5,0.1,setosa,setosa
73,6.1,2.8,4.7,1.2,versicolor,versicolor
15,5.7,4.4,1.5,0.4,setosa,setosa
13,4.3,3.0,1.1,0.1,setosa,setosa
44,5.1,3.8,1.9,0.4,setosa,setosa
94,5.6,2.7,4.2,1.3,versicolor,versicolor
1,4.9,3.0,1.4,0.2,setosa,setosa
134,6.1,2.6,5.6,1.4,virginica,virginica
70,5.9,3.2,4.8,1.8,virginica,versicolor
103,6.3,2.9,5.6,1.8,virginica,virginica
145,6.7,3.0,5.2,2.3,virginica,virginica
89,5.5,2.5,4.0,1.3,versicolor,versicolor
88,5.6,3.0,4.1,1.3,versicolor,versicolor
36,5.5,3.5,1.3,0.2,setosa,setosa
126,6.2,2.8,4.8,1.8,virginica,virginica
117,7.7,3.8,6.7,2.2,virginica,virginica
18,5.7,3.8,1.7,0.3,setosa,setosa
55,5.7,2.8,4.5,1.3,versicolor,versicolor
108,6.7,2.5,5.8,1.8,virginica,virginica
111,6.4,2.7,5.3,1.9,virginica,virginica
148,6.2,3.4,5.4,2.3,virginica,virginica
33,5.5,4.2,1.4,0.2,setosa,setosa
6,4.6,3.4,1.4,0.3,setosa,setosa
87,6.3,2.3,4.4,1.3,versicolor,versicolor
133,6.3,2.8,5.1,1.5,versicolor,virginica
122,7.7,2.8,6.7,2.0,virginica,virginica
19,5.1,3.8,1.5,0.3,setosa,setosa
99,5.7,2.8,4.1,1.3,versicolor,versicolor

In [ ]:
df_golf =  pd.read_excel('/content/golf_df.xlsx')

In [ ]:
df_golf

       clima  temp umidade vento jogar
0      sunny   hot    high    no    no
1      sunny   hot    high   yes    no
2   overcast   hot    high    no   yes
3      rainy  mild    high    no   yes
4      rainy  cool  normal    no   yes
5      rainy  cool  normal   yes    no
6   overcast  cool  normal   yes   yes
7      sunny  mild    high    no    no
8      sunny  cool  normal    no   yes
9      rainy  mild  normal    no   yes
10     sunny  mild  normal   yes   yes
11  overcast  mild    high   yes   yes
12  overcast   hot  normal    no   yes
13     rainy  mild    high   yes    no

In [ ]:
label_encoder = LabelEncoder()

In [ ]:
for column in df_golf:
  df_golf[column]=label_encoder.fit_transform(df_golf[column])
df_golf

    clima  temp  umidade  vento  jogar
0       2     1        0      0      0
1       2     1        0      1      0
2       0     1        0      0      1
3       1     2        0      0      1
4       1     0        1      0      1
5       1     0        1      1      0
6       0     0        1      1      1
7       2     2        0      0      0
8       2     0        1      0      1
9       1     2        1      0      1
10      2     2        1      1      1
11      0     2        0      1      1
12      0     1        1      0      1
13      1     2        0      1      0

In [ ]:
x=df_golf.iloc[:, :-1]
y=df_golf.iloc[:, -1]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [ ]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [ ]:
y_test=pd.DataFrame(y_test)

In [ ]:
predict = model.predict(x_test)
x_test['predction'] = predict
x_test['real'] = y_test['jogar']
x_test

    clima  temp  umidade  vento  predction  real
7       2     2        0      0          1     0
11      0     2        0      1          1     1
8       2     0        1      0          1     1

In [ ]:
model = LogisticRegression()
model.fit(x, y)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
y = pd.DataFrame(y)

In [ ]:
predict = model.predict(x)

In [ ]:
x['predict'] = predict
x

    clima  temp  umidade  vento  predict
0       2     1        0      0        0
1       2     1        0      1        0
2       0     1        0      0        1
3       1     2        0      0        1
4       1     0        1      0        1
5       1     0        1      1        1
6       0     0        1      1        1
7       2     2        0      0        0
8       2     0        1      0        1
9       1     2        1      0        1
10      2     2        1      1        1
11      0     2        0      1        1
12      0     1        1      0        1
13      1     2        0      1        1

In [ ]:
x['real'] = y['jogar']
x

    clima  temp  umidade  vento  predict  real
0       2     1        0      0        0     0
1       2     1        0      1        0     0
2       0     1        0      0        1     1
3       1     2        0      0        1     1
4       1     0        1      0        1     1
5       1     0        1      1        1     0
6       0     0        1      1        1     1
7       2     2        0      0        0     0
8       2     0        1      0        1     1
9       1     2        1      0        1     1
10      2     2        1      1        1     1
11      0     2        0      1        1     1
12      0     1        1      0        1     1
13      1     2        0      1        1     0